@import 'shared/variables.scss';

.dashboard-top-menu__component {
  @include display-flex;
  @include flex-direction(column);

  .wrapper {
    min-height: 100px;
    @include flex(1 0 auto);
    @include display-flex;
    @include align-items-center;
    @include jc-space-between;

    .page-name {
      font-size: 36px;
      font-weight: 700;
    }
  }

  .dashboard-breadcrumbs__component {
    margin-bottom: 20px;
  }

  .bottom-line {
    height: 3px;
    background: $soft-dark;
    @include border-radius(2px);
  }
}
