@import 'shared/variables.scss';

.portfolio-list-item__component {
  width: 300px;
  margin-bottom: 20px;
  padding: 30px;
  display: block;
  @include border-radius(4px);
  background: $soft-dark;
  color: $primary-text;
  @include transition(all, .1s, ease-in-out);

  &:hover {
    color: $orange;
  }

  .title {
    font-size: 20px;
    text-align: center;
  }
}
